{extend name="common/base"}

{block name="tab"} {include file="common/tab"} {/block}

{block name="main"}
<table class="table" style="margin-top: 10px;">
    <thead>
    <tr>
        <th>ID</th>
        <th>分类名称</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr>
        <th scope="row">1</th>
        <td>PHP</td>
        <td>2015-09-09 09:09:09</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    操作
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">编辑</a></li>
                    <li><a href="#">删除</a></li>
                </ul>
            </div>
        </td>
    </tr>-->
    {volist name="categorys" id="category"}
    <tr>
        <th scope="row">{$category.id}</th>
        <td>{$category.name|base64_decode}</td>
        <td>{$category.create_time}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    操作
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{:url('/admin/category_edit/'.$category.id)}">编辑</a></li>
                    <li><a href="{:url('/admin/category_del/'.$category.id)}">删除</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div class="pull-right">
    {$categorys|raw}
</div>
{/block}